/*
 * 2026-04-26
 * プレビュー部は主にcssで指定する
 */

/* body全体 */
.markdown-body {
  color: #575757;
}

/* 見出し */
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4 {
  color: #3b4600;
}

.markdown-body pre code {
  color: #cf8e00;
}

/* 強調 ** ** */
.markdown-body strong {
  color: #614f2e;
  font-weight: 400;
}

/* inline code ` ` */
.markdown-body code,
.markdown-body a {
  color: #cf8e00;
  background-color: #f6f7f0;
}

/* code block ``` ``` */
.markdown-body pre {
  background-color: #f6f7f0;
}
